---
import { defaultLang } from '../i18n/utils';
import Layout from '../layouts/Layout.astro';

// Immediately redirect to default language
Astro.response.headers.set('Location', `/${defaultLang}/`);
Astro.response.status = 301;
---

<Layout>
  <meta http-equiv="refresh" content={`0;url=/${defaultLang}/`} />
  <p>Redirecting to <a href={`/${defaultLang}/`}>default language version</a>...</p>
</Layout>
