---
import { useTranslations } from '../i18n/utils';
const { lang = 'sr' } = Astro.props;
const t = useTranslations(lang);
---

<div class="content-box">
    <div class="biography">
        <div class="bio-content">
            <p>{t('biography.content')}</p>
        </div>
    </div>

    <div class="focus">
        <p>{t('specialFocus.description')}</p>
    </div>

    <div class="languages">
        <p>{t('contact.languages')}</p>
    </div>
</div>
