---
import { useTranslations } from '../i18n/utils';
const { lang = 'sr' } = Astro.props;
const t = useTranslations(lang);
---

<div class="content-box">
    <div class="biography">
        <div class="bio-content">
            <p set:html={t('biography.content')} />
        </div>
    </div>

    <div class="focus">
        <p set:html={t('specialFocus.description')} />
    </div>

    <div class="languages">
        <p set:html={t('contact.languages')} />
    </div>
</div>
