---
import { useTranslations } from '../i18n/utils';
const { lang = 'sr' } = Astro.props;
const t = useTranslations(lang);
---

<section id="for-whom" class="section">
    <div class="for-whom">
        <h2>{t('forWhom.title')}</h2>
        <ul>
            {t('forWhom.issues').map((issue: string) => (
                <li>{issue}</li>
            ))}
        </ul>
    </div>
</section>