---
import { useTranslations } from '../i18n/utils';
const { lang = 'sr' } = Astro.props;
const t = useTranslations(lang);
---

<section id="for-whom" class="section">
    <div class="for-whom">
        <h2 set:html={t('forWhom.title')} />
        <ul>
            {t('forWhom.issues').map((issue: string) => (
                <li set:html={issue} />
            ))}
        </ul>
    </div>
</section>